@import "settings/variables/color";
@import "settings/variables/breakpoint";
@import "settings/mixin";

.property__header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;

  padding-bottom: 1.2rem;
  ::ng-deep .breadcrumb {
    max-width: unset;
  }

  .header__title-group {
    display: flex;
    justify-content: space-between;
  }
  .header__title-group h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
  }
  .title-group__actions {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $text-color-secondary;
    display: flex;
    align-items: center;
  }
  .action {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    color: inherit;
    padding-right: 0.8rem;
    border-right: 1px solid #e0e0e0;
    margin-right: 0.8rem;
    cursor: pointer;
    text-decoration: none;
  }

  .action:last-child {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
  }
  .action ::ng-deep svg {
    color: inherit;
    fill: currentColor;
    width: 2rem;
    height: 2rem;
  }
  .header__rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.4rem;
  }
  .rating__review-number {
    font-size: 1.4rem;
    color: $text-color-secondary;
  }
  .header__address {
    margin-top: 0.4rem;
    text-decoration: none;
    color: $text-color-secondary;
    font-size: 1.4rem;
    line-height: 1.8rem;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  .header__address > * {
    display: inline-block;
  }
}

@include maxWidth($screen-md) {
  .property__header {
    padding: 0 1.6rem 1.2rem;
  }
  .action span {
    display: none;
  }
  .header__title-group h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
