<div class="property__header">
  <div class="property__wrap">
    <app-breadcrumb></app-breadcrumb>
    <div class="header__title-group">
      <h1>{{ headerTitle }}</h1>
      <div class="title-group__actions">
        <a class="action">
          <app-pencil-icon></app-pencil-icon>

          <span>Review</span>
        </a>
        <div class="action">
          <app-heart-icon></app-heart-icon>

          <span>Save</span>
        </div>
        <div class="action">
          <app-share-icon></app-share-icon>
          <span>Share</span>
        </div>
      </div>
    </div>
    <div class="header__rating">
      <app-rating-decimar></app-rating-decimar>
      <div class="rating__review-number">{{ reviewNumber }} reviews</div>
    </div>
    <a
      [href]="
        'https://www.google.com/maps/search/?api=1&query=' + addressEncode
      "
      rel="nofollow"
      class="header__address"
    >
      <app-location-dot-icon></app-location-dot-icon>
      {{ address }}
    </a>
  </div>
</div>
