<div class="property__header">
  <div class="property__wrap">
    <app-breadcrumb [childLevels]="[{ level: headerTitle }]"></app-breadcrumb>
    <div class="header__title-group">
      <h1>{{ headerTitle }}</h1>
      <div class="title-group__actions">
        <a routerLink="." fragment="reviews" class="action">
          <app-pencil-icon></app-pencil-icon>

          <span>Review</span>
        </a>
        <div class="action" (click)="handleSavedAction()">
          <app-heart-icon *ngIf="!isSaved"></app-heart-icon>
          <app-heart-solid-icon *ngIf="isSaved"></app-heart-solid-icon>
          <span *ngIf="!isSaved">Save</span>
          <span *ngIf="isSaved">Saved</span>
        </div>
      </div>
    </div>
    <div class="header__rating">
      <app-rating-decimar [rate]="averageRating"></app-rating-decimar>
      <div class="rating__review-number">{{ reviewNumber }} reviews</div>
    </div>
    <a
      [href]="
        'https://www.google.com/maps/search/?api=1&query=' + addressEncode
      "
      rel="nofollow"
      class="header__address"
      target="_blank"
    >
      <app-location-dot-icon></app-location-dot-icon>
      {{ address }}
    </a>
  </div>
</div>
