<section class="profile-form">
  <app-loading-spinner *ngIf="isFetching"></app-loading-spinner>
  <form class="form form--sm" (ngSubmit)="handleSubmit()" [formGroup]="form">
    <h1 class="form__title">Change password</h1>
    <div class="form__group">
      <label for="oldPass">Old password</label>
      <div class="form__control">
        <input
          type="password"
          id="oldPass"
          placeholder="Your password"
          name="oldPass"
          formControlName="oldPassword"
        />
        <div class="form__helper" *ngIf="isInvalidControl('oldPassword')">
          <span *ngIf="getControl('oldPassword')?.errors?.['required']">
            Password is empty
          </span>
          <span *ngIf="getControl('oldPassword')?.errors?.['minlength']">
            At least 6 characters required
          </span>
        </div>
      </div>
    </div>

    <div class="form__group">
      <label for="newPass">New password</label>
      <div class="form__control">
        <input
          type="password"
          id="newPass"
          placeholder="Your password"
          name="newPass"
          formControlName="newPassword"
        />
        <div class="form__helper" *ngIf="isInvalidControl('newPassword')">
          <span *ngIf="getControl('newPassword')?.errors?.['required']">
            Password is empty
          </span>
          <span *ngIf="getControl('newPassword')?.errors?.['minlength']">
            At least 6 characters required
          </span>
        </div>
      </div>
    </div>

    <div class="form__group">
      <label for="confirmPass">Confirm new password</label>
      <div class="form__control">
        <input
          type="password"
          id="confirmPass"
          placeholder="Your password"
          name="confirmPass"
          formControlName="confirmPassword"
        />
        <div class="form__helper">
          <span
            *ngIf="isInvalidControl('confirmPassword')&& getControl('confirmPassword')?.errors?.['required']"
          >
            Password is empty
          </span>
          <span
            *ngIf="form.errors?.['confirmPassword'] && getControl('confirmPassword')?.valid"
            >Confirm password not match</span
          >
        </div>
        <div class="form__helper"></div>
      </div>
    </div>

    <div class="form__bottom form__bottom--inline">
      <button class="btn btn--secondary btn--radius-small" type="button">
        Cancel
      </button>
      <button type="submit" class="btn btn--primary btn--radius-small">
        Save
      </button>
    </div>
  </form>
</section>
