<section class="profile-form">
  <form class="form form--sm" (ngSubmit)="handleSubmit()">
    <h1 class="form__title">Change password</h1>
    <div class="form__group">
      <label for="oldPass">Old password</label>
      <div class="form__control">
        <input
          type="password"
          id="oldPass"
          placeholder="Your password"
          name="oldPass"
        />
        <!-- <div class="form__helper" *ngIf="!pass.valid && pass.touched">
          <span *ngIf="pass.errors?.['required']">Password is empty</span>
        </div> -->
      </div>
    </div>

    <div class="form__group">
      <label for="newPass">New password</label>
      <div class="form__control">
        <input
          type="password"
          id="newPass"
          placeholder="Your password"
          name="newPass"
        />
        <!-- <div class="form__helper" *ngIf="!pass.valid && pass.touched">
          <span *ngIf="pass.errors?.['required']">Password is empty</span>
        </div> -->
      </div>
    </div>

    <div class="form__group">
      <label for="confirmPass">Confirm new password</label>
      <div class="form__control">
        <input
          type="password"
          id="confirmPass"
          placeholder="Your password"
          name="confirmPass"
        />
        <!-- <div class="form__helper" *ngIf="!pass.valid && pass.touched">
          <span *ngIf="pass.errors?.['required']">Password is empty</span>
        </div> -->
      </div>
    </div>

    <div class="form__bottom form__bottom--inline">
      <button class="btn btn--secondary btn--radius-small" type="button">
        Cancel
      </button>
      <button type="submit" class="btn btn--primary btn--radius-small">
        Save
      </button>
    </div>
  </form>
</section>
