<section class="checkout">
  <div class="checkout__wrap">
    <div class="checkout__infor">
      <figure class="hotel__thumb">
        <img src="https://picsum.photos/500" alt="" />
        <span>International Hotel</span>
      </figure>
      <div class="checkout__hotel">
        <div class="checkout__text"><span>Amount of people: </span>2</div>
        <div class="checkout__text"><span>Check in: </span>20/10/2020</div>
        <div class="checkout__text"><span>Check out: </span>21/10/2020</div>
      </div>
    </div>
    <div class="checkout__price">
      <h1>Detail price</h1>
      <div class="price__row">
        <div class="row__item">Price</div>
        <div class="row__item">500$</div>
      </div>
      <hr />
      <div class="price__row price__row-total">
        <div class="row__item">Total</div>
        <div class="row__item">500$</div>
      </div>
      <div class="price__cta">
        <button class="btn btn--primary">Checkout</button>
      </div>
      <aside>
        This is a reference price, the price may be different when checking in
        at the hotel
      </aside>
    </div>
  </div>
</section>
