<div class="hotel property relative">
  <app-loading-spinner
    *ngIf="isFetching.hotel"
    style="display: block; width: 100%; height: 40rem"
  ></app-loading-spinner>
  <div class="property__error" *ngIf="!hotel && !isFetching.hotel">
    <app-circle-exclamation-icon
      class="error__icon"
    ></app-circle-exclamation-icon>
    <h1>Oops! Something went wrong.</h1>
    <aside>Try refeshing the page or try again later.</aside>
    <button class="btn btn--primary" appRefresh>Refresh Page</button>
  </div>
  <app-detail-header
    [headerTitle]="hotel.name"
    [address]="hotel.address"
    *ngIf="hotel"
    category="hotel"
    [averageRating]="averageRating"
    [reviewNumber]="reviewNumber"
    [item]="hotel"
    [isWriter]="isWriter"
  ></app-detail-header>
  <div class="property__body" *ngIf="hotel">
    <div class="property__wrap">
      <div class="hotel__infor">
        <div class="panel hotel__book-infor relative">
          <div class="book-infor__overlay" *ngIf="isWriter">
            <h1>Login traveler to booking</h1>
          </div>
          <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
            <div class="book__date-group">
              <div class="book__control-group">
                <label
                  for="checkIn"
                  [ngClass]="{
                    form__hint: bookForm.submitted && !checkInControl.valid
                  }"
                  >Check In</label
                >
                <div class="book__control">
                  <input
                    id="checkIn"
                    type="text"
                    class="book__date book__date--checkin"
                    placeholder="--/--/--"
                    ngModel
                    name="checkIn"
                    required
                    ngbDatepicker
                    readonly
                    #checkInControl="ngModel"
                    #checkIn="ngbDatepicker"
                    [minDate]="getCurrentDate()"
                    [displayMonths]="2"
                    (click)="checkIn.toggle()"
                    (keypress)="$event.preventDefault()"
                  />
                  <app-calender-days-icon
                    class="control__icon"
                  ></app-calender-days-icon>
                </div>
              </div>
              <div class="book__control-group">
                <label
                  for="checkOut"
                  [ngClass]="{
                    form__hint: bookForm.submitted && !checkOutControl.valid
                  }"
                  >Check Out</label
                >
                <div class="book__control">
                  <input
                    id="checkOut"
                    type="text"
                    placeholder="--/--/--"
                    class="book__date book__date--checkout"
                    ngModel
                    name="checkOut"
                    required
                    ngbDatepicker
                    readonly
                    #checkOutControl="ngModel"
                    #checkOut="ngbDatepicker"
                    [minDate]="getCurrentDate()"
                    [displayMonths]="2"
                    (click)="checkOut.toggle()"
                    (keypress)="$event.preventDefault()"
                  />
                  <app-calender-days-icon
                    class="control__icon"
                  ></app-calender-days-icon>
                </div>
              </div>
            </div>
            <div class="book__control-group book__people">
              <label
                for="people"
                [ngClass]="{
                  form__hint: bookForm.submitted && !peopleControl.valid
                }"
              >
                <app-users-icon></app-users-icon>
                People
              </label>
              <div class="book__control">
                <button
                  type="button"
                  class="control"
                  [disabled]="numberOfPeople === 1"
                  (click)="decreaseNumberOfPeople()"
                >
                  &minus;
                </button>
                <input
                  type="text"
                  name="people"
                  [(ngModel)]="numberOfPeople"
                  (change)="
                    numberOfPeople < 1 ? (numberOfPeople = 1) : numberOfPeople
                  "
                  #peopleControl="ngModel"
                  required
                  appOnlyNumber
                />
                <button
                  type="button"
                  class="control"
                  (click)="increaseNumberOfPeople()"
                >
                  +
                </button>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn--primary"
              [disabled]="bookForm.submitted && !bookForm.valid"
            >
              Book
            </button>
          </form>
        </div>
        <div class="hotel__galeries">
          <app-thumb-galeries
            [galeries]="hotel.hotelGalleries"
          ></app-thumb-galeries>
        </div>
      </div>
      <div class="hotel__suggestions panel">
        <h1 class="panel__title">You may also like</h1>
        <hr />
        <div class="suggestion__list relative">
          <app-loading-spinner
            *ngIf="isFetching.hotelSuggestion"
          ></app-loading-spinner>

          <div
            class="suggestion__item"
            *ngFor="let hotelSugestion of hotelSuggestions"
          >
            <a
              [routerLink]="['/hotel', hotelSugestion.id]"
              class="hotel__suggestion"
            >
              <figure class="suggestion__thumb">
                <img
                  [defaultImage]="imageService.defaultImage"
                  [lazyLoad]="imageService.render(hotelSugestion.image)"
                  [alt]="hotelSugestion.name"
                />
              </figure>
              <div class="suggestion__infor">
                <h1 class="suggestion__title">{{ hotelSugestion.name }}</h1>
                <app-rating-decimar
                  [rate]="hotelSugestion.averageRating"
                ></app-rating-decimar>
                <p>{{ hotelSugestion.totalRating }} reviews</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="hotel__about panel">
        <h1 class="panel__title">About</h1>
        <hr />

        <div class="row">
          <div class="col-12 col-lg-6 about__infor">
            <div class="about__rating">
              <div class="rating__avg">{{ averageRating | number }}</div>
              <div class="rating__infor">
                <span class="rating__type">{{ ratingType }}</span>
                <div class="rating__rating">
                  <app-rating-decimar
                    [rate]="averageRating"
                  ></app-rating-decimar>
                  <span>{{ reviewNumber }} reviews</span>
                </div>
              </div>
            </div>
            <div class="about__desc">
              {{ hotel.description }}
            </div>
          </div>
          <div class="col-12 col-lg-6 about__services">
            <div class="services__group">
              <h1 class="group__title">Room features</h1>
              <ul class="group__list">
                <li
                  class="group__item"
                  *ngFor="let roomFeature of hotel.roomFeatures"
                >
                  {{ roomFeature.feature }}
                </li>
              </ul>
            </div>
            <div class="services__group">
              <h1 class="group__title">Property amenities</h1>
              <ul class="group__list">
                <li
                  class="group__item"
                  *ngFor="let amenity of hotel.propertyAmenities"
                >
                  {{ amenity.name }}
                </li>
              </ul>
            </div>
            <div class="services__group">
              <h1 class="group__title">Room types</h1>
              <ul class="group__list">
                <li
                  class="group__item"
                  *ngFor="let roomType of hotel.roomTypes"
                >
                  {{ roomType.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="property__wrap">
      <app-review
        [reviews]="hotel.reviews"
        (reviewSuccess)="handleReviewChange()"
        [id]="hotel.id"
        [isWriter]="isWriter"
      ></app-review>
    </div>
  </div>
</div>
