<a href="#" class="card">
  <figure class="card__thumb">
    <img
      src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/60/80/91/caption.jpg?w=300&h=300&s=1"
      alt=""
    />
  </figure>
  <!-- add class heart__icon--active to change icon -->
  <div class="card__heart cta card__heart--active">
    <app-heart-icon class="card__icon"></app-heart-icon>
    <app-heart-solid-icon
      class="card__icon card__icon--active"
    ></app-heart-solid-icon>
  </div>
  <div class="card__content">
    <h1 class="card__title">
      Amsterdam Open Boat Canal Cruise - Live Guide - from Anne Frank House
    </h1>
    <div class="card__rating">
      <app-rating-decimar></app-rating-decimar>
      <span class="rating-total"> 1,510 </span>
    </div>
  </div>
  <!-- when card don't have tag show price instead -->
  <div class="card__bottom">
    <span class="card__price"> from $299/night </span>
    <span class="card__tag"> Moutains, Volcanos </span>
  </div>
</a>
