<div class="relative">
  <!-- add class heart__icon--active to change icon -->
  <div class="card__heart cta" [appSavedAction]="category" [item]="item">
    <app-heart-icon class="card__icon"></app-heart-icon>
    <app-heart-solid-icon
      class="card__icon card__icon--active"
    ></app-heart-solid-icon>
  </div>
  <a
    [routerLink]="
      category === 'hotel' ? ['hotel', item.id] : ['restaurant', item.id]
    "
    class="card"
  >
    <figure class="card__thumb">
      <img
        [lazyLoad]="
          (item.image && imageService.render(item.image)) ||
          (item.thumbnail && imageService.render(item.thumbnail))
        "
        [defaultImage]="imageService.defaultImage"
        [alt]="item?.name"
      />
    </figure>

    <div class="card__content">
      <h3 class="card__sub-title" *ngIf="category === 'restaurant'">
        {{ item.cuisines.join(", ") }}
      </h3>
      <h1 class="card__title">
        {{ item?.name }}
      </h1>
      <div class="card__rating">
        <app-rating-decimar [rate]="item.averageRating"></app-rating-decimar>
        <span class="rating-total">{{ item.totalItems | number }}</span>
      </div>
    </div>
    <!-- when card don't have tag show price instead -->
    <div class="card__bottom" *ngIf="category !== 'restaurant'">
      <span class="card__price"> from ${{ item?.price }}/night </span>
      <span class="card__tag"> {{ item.districtName }} </span>
    </div>
  </a>
</div>
