<section class="saved container">
  <h1 class="saved__title">My saved</h1>

  <ul class="saved__tabs">
    <li
      class="saved__tab"
      [ngClass]="{ 'saved__tab--active': tabSelected === 'all' }"
      (click)="handleClick('all')"
    >
      All
    </li>
    <li
      class="saved__tab"
      [ngClass]="{ 'saved__tab--active': tabSelected === 'hotel' }"
      (click)="handleClick('hotel')"
    >
      Hotels
    </li>
    <li
      class="saved__tab"
      [ngClass]="{ 'saved__tab--active': tabSelected === 'restaurant' }"
      (click)="handleClick('restaurant')"
    >
      Restaurants
    </li>
    <li
      class="saved__tab"
      [ngClass]="{ 'saved__tab--active': tabSelected === 'destination' }"
      (click)="handleClick('destination')"
    >
      Destinations
    </li>
  </ul>
  <!-- show comment code block bellow if saved empty -->
  <div class="saved__empty" *ngIf="items.length === 0">
    <h1 class="saved__empty-title">You haven’t saved anything yet</h1>
    <p>
      To save, search for hotels, restaurants and destinations, then tap the
      heart icon
    </p>
  </div>
  <!-- ---------------------------- end ---------------------------- -->
  <div class="saved__content" *ngIf="items.length !== 0">
    <div class="row gy-3">
      <div class="col-12 col-lg-3 col-md-4 col-sm-6" *ngFor="let item of items">
        <app-saved-item
          [item]="item?.data"
          [category]="item?.type"
          (heartClick)="loadData()"
        ></app-saved-item>
      </div>
    </div>
  </div>
</section>
