<section class="article-detail">
  <div class="article-detail__wrap">
    <app-breadcrumb></app-breadcrumb>
    <article class="article">
      <div class="article__infor">
        <h1 class="article__title">
          Why Southern Spain is the perfect fall getaway
        </h1>
        <h2 class="article__short-desc">
          These six towns in Southern Spain are high on sunshine and low on
          crowds.
        </h2>
        <div class="article__writter">
          <figure class="writter__avatar">
            <img src="https://picsum.photos/500?random=1" alt="" />
          </figure>
          <span class="writter__name">By Megan Lloyd • Oct 7, 2022</span>
        </div>
        <figure class="article__thumb">
          <img src="https://picsum.photos/1200?random=2" alt="" />
        </figure>
      </div>
      <div class="article__content">article content</div>
    </article>
  </div>
</section>
