<section class="travel-articles">
  <h1 class="title">All Travel Articles</h1>
  <ul class="travel-articles__list">
    <li class="travel-articles__item">
      <div class="item__content">
        <a href="" class="item__title">
          Why Southern Spain is the perfect fall getaway
        </a>
        <p class="item__short-desc">
          These six towns in Southern Spain are high on sunshine and low on
          crowds
        </p>
        <div class="item__content-bottom">By Megan Lloyd • Oct 7, 2022</div>
      </div>
      <figure class="item__thumb">
        <img src="https://picsum.photos/500?random=5" alt="" />
      </figure>
    </li>
  </ul>
  <app-pagination [maxSize]="2"></app-pagination>
</section>
