<section class="travel-articles">
  <app-loading-spinner *ngIf="isFetching"></app-loading-spinner>
  <div class="fetch-fail" *ngIf="articles.length === 0 && !isFetching">
    <app-circle-exclamation-icon
      class="error__icon"
    ></app-circle-exclamation-icon>
    <h1>Oops! Something went wrong.</h1>
    <aside>Try refeshing the page or try again later.</aside>
    <button class="btn btn--primary" appRefresh>Refresh Page</button>
  </div>
  <div *ngIf="articles.length > 0 && !isFetching">
    <h1 class="title">All Travel Articles</h1>
    <ul class="travel-articles__list">
      <li
        class="travel-articles__item"
        *ngFor="
          let article of articles
            | paginate: { itemsPerPage: 5, currentPage: page }
        "
      >
        <div class="item__content">
          <a [routerLink]="[article.id]" class="item__title">
            {{ article.title }}
          </a>
          <p class="item__short-desc">
            {{ article.shortDesc }}
          </p>
          <div class="item__content-bottom">
            By {{ article.writerName }} • {{ article.createdDate | date }}
          </div>
        </div>
        <figure class="item__thumb">
          <img
            [lazyLoad]="imageService.render(article.image)"
            [defaultImage]="imageService.defaultImage"
          />
        </figure>
      </li>
    </ul>
    <pagination-controls
      (pageChange)="handlePageChange($event)"
      [maxSize]="5"
      class="global-pagination"
      [responsive]="false"
    ></pagination-controls>
  </div>
</section>
