@import "settings/variables/color";
@import "settings/variables/breakpoint";
@import "settings/mixin";
@import "components/button";
::ng-deep {
  .page-item .page-link {
    font-size: 1.4rem;
    line-height: 4rem;
    font-weight: 600;
    color: $primary-color;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-color: #f2f2f2;
    padding: 0;
    border: none;
  }
  .page-item.active .page-link {
    background-color: #f2f2f2;
  }

  .page-item:first-of-type,
  .page-item:last-of-type {
    .page-link {
      @extend .btn;
      @extend .btn--primary;
      border-radius: 0.3rem;
      width: unset;
      height: unset;
      border: 1px solid transparent;
      background-color: $primary-color;
    }
    &.disabled .page-link {
      border: 1px solid #8c8c8c;
      color: $primary-color;
      cursor: default;
      opacity: 0.32;
      background-color: transparent;
    }
  }
  .page-item:first-of-type {
    margin-right: auto;
  }
  .page-item:last-of-type {
    margin-left: auto;
  }
}

@include maxWidth($screen-lg) {
  ::ng-deep {
    .pagination {
      position: relative;
      height: 11.8rem;
      justify-content: center;
      align-items: flex-end;
    }
    .page-item:first-of-type,
    .page-item:last-of-type {
      position: absolute;
      width: calc(50% - 1.6rem);
      top: 1.6rem;
      .page-link {
        width: 100%;
      }
    }
    .page-item:first-of-type {
      left: 0;
    }
    .page-item:last-of-type {
      right: 0;
    }
  }
}
