%reset-btn {
  display: inline-block;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  border: none;
  appearance: none;
}
.btn {
  @extend %reset-btn;
  padding: 1.1rem 7rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  border-radius: 4.2rem;
  transition: all 250ms ease;
}
.btn--large {
  padding: 2.6rem 5.1rem;
  font-size: 2.7rem;
  line-height: 4.1rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.btn--primary {
  background-color: $primary;
  color: $text-color;
  &:hover {
    background-color: #d5dcee;
    color: $text-hover-color;
  }
  &:active {
    background-color: darken(#f5f5f5, 8);
  }
}
@include maxWidth(740px) {
  .btn {
    padding: 0.25rem 3.58rem;
    font-size: 2.5rem;
    line-height: 3.025rem;
  }
}
