@import "settings/variables/color";
%reset-input {
  outline: none;
  border: 2px solid #e0e0e0;

  border-radius: 0.2rem;
}

.form {
  max-width: 410px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
    margin-bottom: 4rem;
    text-align: center;
    span {
      text-decoration: underline;
    }
  }

  &__file--d-none {
    display: none;
  }
  &__group {
  }
  &__group + &__group {
    margin-top: 1.6rem;
  }
  &__group label {
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 2rem;
    padding-left: 0.4rem;
    margin-bottom: 0.4rem;
  }
  &__control {
    position: relative;
  }

  .control__icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #757575;
  }

  &__control--intl-tel,
  &__control input:not([type="checkbox"]),
  &__control input:not([type="radio"]) {
    @extend %reset-input;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: inherit;
    font-weight: 500;
    width: 100%;
    padding: 1.2rem 2rem;
    transition: box-shadow 200ms ease;

    &.ng-invalid.ng-touched {
      border-color: $primary-danger;
    }

    &:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
  &__helper {
    position: absolute;
    bottom: -1.4rem;
    right: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: $primary-danger;
  }
  &__bottom {
    width: 100%;
    margin-top: 2.4rem;
  }
  &__bottom .btn {
    display: block;
    width: 100%;

    border-radius: 0.4rem;
  }
  &__bottom--inline .btn {
    display: inline-block;
    width: fit-content;
  }
  aside {
    display: block;
    margin-top: 1.6rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: $text-color-secondary;
  }
  a {
    color: $text-color;
  }
  hr {
    width: calc(100% - 4rem);
    margin: 0 auto;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
  }
  &__image-preview {
    text-align: center;
    margin-top: 0.4rem;
    h3 {
      font-size: 1.4rem;
      font-weight: 500;
    }
    figure {
      display: block;
      width: 10rem;
      height: 10rem;
      margin: 0 auto;
      margin-top: 0.4rem;
      img {
        border-radius: 40rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.form.form--sm {
  .form__group label {
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-left: 0;
  }
  .form__group + .form__group {
    margin-top: 2.6rem;
  }
  .form__control input:not([type="checkbox"]),
  .form__control input:not([type="radio"]) {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    padding: 0.6rem 1.2rem;
    height: 4.2rem;
    border-width: 1px;
  }
  .control__icon + input:not([type="checkbox"]),
  .control__icon + input:not([type="radio"]) {
    padding-left: 3.2rem;
  }
  .form__helper {
    bottom: -1.6rem;
    left: 0rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: $primary-danger;
  }
  .form__bottom .btn {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }
}
// ngx intl tel input
.form__ngx-intl {
  width: 100%;

  * {
    font-family: inherit;
  }
  .iti {
    display: block;
  }
  .selected-dial-code {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
  }
  &.ng-invalid.ng-touched input {
    border-color: $primary-danger;
  }
}
.form__control--intl-tel {
  font-family: inherit;
  width: 100%;
}
// end ngx intl tel input
@include maxWidth($screen-md) {
  .form {
    padding: 0;
  }
}
