@import "settings/variables/color";
%reset-input {
  outline: none;
  border: 2px solid #e0e0e0;
  border-radius: 0.2rem;
}

.form {
  max-width: 410px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  &__title {
    font-size: 2.8em;
    font-weight: 700;
    line-height: 3.3rem;
    margin-bottom: 4rem;
    text-align: center;
  }
  &__file--d-none {
    display: none;
  }
  &__group {
  }
  &__group + &__group {
    margin-top: 1.6rem;
  }
  &__group label {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    padding-left: 0.4rem;
    margin-bottom: 0.4rem;
  }
  &__control {
    position: relative;
  }
  &__control input:not([type="checkbox"]),
  &__control input:not([type="radio"]) {
    @extend %reset-input;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: inherit;
    font-weight: 500;
    width: 100%;
    padding: 1.2rem 2rem;
    transition: box-shadow 200ms ease;
    &.ng-invalid.ng-touched {
      border-color: $primary-danger;
    }
    &:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
  &__helper {
    position: absolute;
    bottom: -1.4rem;
    right: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: $primary-danger;
  }
  &__bottom {
    width: 100%;
    margin-top: 2.4rem;
  }
  &__bottom .btn {
    display: block;
    width: 100%;
  }
  aside {
    display: block;
    margin-top: 1.6rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: $text-color-secondary;
  }
  a {
    color: $text-color;
  }
}
.form.form--sm {
  &__group label {
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-left: 0;
  }
  &__control input:not([type="checkbox"]),
  &__control input:not([type="radio"]) {
    @extend %reset-input;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    padding: 1.2rem 3.2rem;
  }
  &__helper {
    bottom: -1.6rem;
    left: 0rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: $primary-danger;
  }
}

@include maxWidth($screen-md) {
  .form {
    padding: 0;
  }
}
