.note-editable {
  font-size: 20px;
}
.note-editor.note-frame {
  border: none;
}
.note-placeholder {
  font-size: 2rem;
}
.note-frame {
  font-family: $family;
}
.note-toolbar {
  background-color: transparent;
  border-color: #e0e0e0;
}
