<header class="header" appDropdown>
  <div class="header__wrap flex--between container">
    <div class="header__menu-mobile">
      <app-menu-icon></app-menu-icon>
    </div>
    <div class="header__left">
      <a routerLink="/" class="header__logo">
        <img srcset="assets/images/logo-full.png 2x" alt="WhereGo logo" />
      </a>
    </div>
    <div class="header__right">
      <div class="search" (click)="handleSearchClick($event)">
        <app-search-icon class="search__icon"></app-search-icon>
        <input type="text" class="search__input" placeholder="Where to ?" />
      </div>
      <nav class="header__menu" #headerMenu>
        <ul class="header__list">
          <div class="header__list-btn-close">
            <app-x-icon></app-x-icon>
          </div>
          <!-- only show when login -->
          <li *ngIf="writer || traveler">
            <a
              [routerLink]="writer ? ['writer'] : ['traveler']"
              class="header__item cta header__item--mobile no-shadow"
            >
              View profile</a
            >
          </li>
          <li *ngIf="writer || traveler">
            <a
              [routerLink]="
                writer ? ['writer/articles'] : ['traveler/bookings']
              "
              class="header__item cta header__item--mobile no-shadow"
            >
              {{ writer ? "My articles" : "Bookings" }}
            </a>
          </li>
          <hr *ngIf="writer || traveler" />
          <li>
            <a routerLink="/travel-articles" class="header__item cta no-shadow">
              <app-newspaper-icon class="header__icon"></app-newspaper-icon>
              Travel articles
            </a>
          </li>
          <li *ngIf="!writer">
            <a routerLink="/saved" class="header__item cta no-shadow">
              <app-heart-icon class="header__icon"></app-heart-icon>
              My saved</a
            >
          </li>

          <hr />
          <li class="header__item header__item--small header__item-sign-out">
            <span>Sign out</span>
          </li>
          <li class="header__item-btn">
            <!-- show sign in or header user -->
            <a
              routerLink="/auth/traveler/login"
              class="btn btn--primary"
              *ngIf="!writer && !traveler"
              >Sign in</a
            >
            <div
              class="header__user"
              appDropdown
              [runInMobile]="false"
              *ngIf="writer || traveler"
            >
              <figure class="user__avatar">
                <img
                  [src]="
                    imageService.render(writer?.avatar! || traveler?.avatar!)
                  "
                />
              </figure>
              <h2 class="user__name">
                {{ writer?.name || traveler?.name }}
              </h2>
              <div class="user__menu">
                <ul class="user__list">
                  <li>
                    <a
                      [routerLink]="writer ? ['writer'] : ['traveler']"
                      class="user__item"
                      >View profile</a
                    >
                  </li>
                  <li>
                    <a
                      [routerLink]="
                        writer ? ['writer/articles'] : ['traveler/bookings']
                      "
                      class="user__item"
                    >
                      {{ traveler ? "Bookings" : "My articles" }}
                    </a>
                  </li>
                  <li>
                    <a
                      [routerLink]="
                        writer ? 'auth/writer/login' : 'auth/traveler/login'
                      "
                      (click)="handleSignOut()"
                      class="user__item"
                      >Sign out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<app-search-modal
  searchType="all"
  *ngIf="showSearchModal"
  (closeEmit)="showSearchModal = false"
></app-search-modal>
