<div class="table__tools">
  <div class="tool" *ngIf="showArticle">
    <a
      routerLink="/writer/article/new"
      class="btn btn--primary btn--radius-small"
      >Write new article</a
    >
  </div>
  <div class="tool__search">
    <app-search-icon class="search__icon"></app-search-icon>
    <input type="text" placeholder="Search name" [(ngModel)]="fieldSearch" />
  </div>
</div>

<section class="section-table">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let th of ths">{{ th }}</th>
        <th *ngIf="showArticle" class="th__action">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="!showArticle">
      <tr
        *ngFor="
          let data of dataSource
            | filter: fieldSearch
            | paginate: { itemsPerPage: 5, currentPage: page }
        "
      >
        <td *ngFor="let dataValue of getValues(data)">
          <div [innerHTML]="dataValue"></div>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="showArticle">
      <tr
        *ngFor="
          let data of dataSource
            | filter: fieldSearch
            | paginate: { itemsPerPage: 5, currentPage: page };
          let i = index
        "
      >
        <td *ngFor="let dataValue of getValues(data)">
          <div [innerHTML]="dataValue"></div>
        </td>
        <td class="action">
          <app-edit-icon
            class="action__icon"
            [routerLink]="['/writer/article', articleIds[i], 'edit']"
          ></app-edit-icon>
          <!-- <app-trash-icon class="action__icon"></app-trash-icon> -->
        </td>
      </tr>
    </tbody>
  </table>
</section>
<div class="table-paginator">
  <span
    >{{ page * 5 - 5 + 1 }} -
    {{ dataSource.length > page * 5 ? page * 5 : dataSource.length }} of
    {{ dataSource.length }}</span
  >

  <pagination-controls
    (pageChange)="handlePageChange($event)"
    [maxSize]="0"
    class="paginator"
    [responsive]="false"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>

  <!-- <div class="paginator__actions">
    <button
      class="action__prev"
      [disabled]="page === 1"
      (click)="handlePrevBtn()"
    >
      <app-chevron-right-icon class="action__icon"></app-chevron-right-icon>
    </button>
    <button
      class="action__next"
      [disabled]="disabledNextBtn()"
      (click)="handleNextBtn()"
    >
      <app-chevron-right-icon class="action__icon"></app-chevron-right-icon>
    </button>
  </div> -->
</div>
