<section class="profile-edit">
  <label for="avatar" class="profile-edit__avatar-group">
    <figure class="profile-edit__avatar">
      <img src="https://picsum.photos/500" alt="" />
    </figure>
    <div class="avatar__overlay">
      <app-image-icon></app-image-icon>
      <span>Change profile photo</span>
    </div>
  </label>

  <form class="form form--sm" (ngSubmit)="handleSubmit()">
    <input type="file" id="avatar" class="form__file--d-none" />

    <div class="form__group">
      <label for="name">Name</label>
      <div class="form__control">
        <input type="text" id="name" />
        <!-- <div class="form__helper" *ngIf="!email.valid && email.touched">
              <span *ngIf="email.errors?.['required']">Email is empty</span>
              <span *ngIf="email.errors?.['email']">Email address invalid</span>
            </div> -->
      </div>
    </div>
    <div class="form__group">
      <label for="name">Username</label>
      <div class="form__control">
        <span class="control__icon">@</span>
        <input type="text" id="name" />
        <!-- <div class="form__helper" *ngIf="!email.valid && email.touched">
              <span *ngIf="email.errors?.['required']">Email is empty</span>
              <span *ngIf="email.errors?.['email']">Email address invalid</span>
            </div> -->
      </div>
    </div>
    <div class="form__group">
      <label for="dob">Date of birth</label>
      <div class="form__control">
        <input
          type="text"
          id="dob"
          placeholder="--/--/--"
          ngbDatepicker
          readonly
          #dob="ngbDatepicker"
          (click)="dob.toggle()"
          (keypress)="$event.preventDefault()"
          style="cursor: pointer"
        />
        <!-- <div class="form__helper" *ngIf="!email.valid && email.touched">
              <span *ngIf="email.errors?.['required']">Email is empty</span>
              <span *ngIf="email.errors?.['email']">Email address invalid</span>
            </div> -->
      </div>
    </div>
    <div class="form__group">
      <label for="tel">Phone</label>
      <div class="form__control">
        <input type="tel" id="tel" />
        <!-- <div class="form__helper" *ngIf="!email.valid && email.touched">
              <span *ngIf="email.errors?.['required']">Email is empty</span>
              <span *ngIf="email.errors?.['email']">Email address invalid</span>
            </div> -->
      </div>
    </div>

    <div class="form__bottom form__bottom--inline">
      <button class="btn btn--secondary btn--radius-small" type="button">
        Cancel
      </button>
      <button type="submit" class="btn btn--primary btn--radius-small">
        Save
      </button>
    </div>
  </form>
</section>
