<div class="restaurant property">
  <app-detail-header
    headerTitle="Sao Hom"
    address="Hai Ba Trung Street Can Tho Market, Can Tho 65000 Vietnam"
  ></app-detail-header>
  <div class="property__body">
    <div class="property__wrap">
      <div class="restaurant__galeries">
        <app-thumb-galeries></app-thumb-galeries>
      </div>
      <div class="restaurant__infor">
        <div class="restaurant__col panel">
          <div class="col__title">Ratings and reviews</div>
          <div class="restaurant__rating">
            3.5 <app-rating-decimar></app-rating-decimar>
            <span>710 reviews</span>
          </div>
          <div class="col__title">Location</div>
          <a class="col__address">
            <app-location-dot-icon></app-location-dot-icon>
            Hai Ba Trung Street Can Tho Market, Can Tho 65000 Vietnam
          </a>
        </div>
        <div class="restaurant__col panel">
          <h1 class="col__title">Details</h1>
          <div class="col__group">
            <h1 class="group__title">Cuisines</h1>
            <p>Asian, Vietnamese</p>
          </div>
          <div class="col__group">
            <h1 class="group__title">SPECIAL DIETS</h1>
            <p>Vegetarian Friendly, Vegan Options, Gluten Free Options</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
