<div class="restaurant property">
  <div class="property__header">
    <div class="property__wrap">
      <app-breadcrumb></app-breadcrumb>
      <div class="property__title-group">
        <h1>Sao Hom</h1>
        <div class="title-group__actions">
          <a class="action">
            <app-pencil-icon></app-pencil-icon>

            <span>Review</span>
          </a>
          <div class="action">
            <app-heart-icon></app-heart-icon>

            <span>Save</span>
          </div>
          <div class="action">
            <app-share-icon></app-share-icon>
            <span>Share</span>
          </div>
        </div>
      </div>
      <div class="property__rating">
        <app-rating-decimar></app-rating-decimar>
        <div class="rating__review-number">53 reviews</div>
      </div>
      <a
        [href]="'https://www.google.com/maps/search/?api=1&query='"
        rel="nofollow"
        class="property__address"
      >
        <app-location-dot-icon></app-location-dot-icon>
        Hai Ba Trung Street Can Tho Market, Can Tho 65000 Vietnam
      </a>
    </div>
  </div>
  <div class="property__body">
    <div class="property__wrap">
      <div class="restaurant__galeries">
        <app-thumb-galeries></app-thumb-galeries>
      </div>
      <div class="restaurant__infor">
        <div class="restaurant__col panel">
          <div class="col__title">Ratings and reviews</div>
          <div class="restaurant__rating">
            3.5 <app-rating-decimar></app-rating-decimar>
            <span>710 reviews</span>
          </div>
          <div class="col__title">Location</div>
          <a class="col__address">
            <app-location-dot-icon></app-location-dot-icon>
            Hai Ba Trung Street Can Tho Market, Can Tho 65000 Vietnam
          </a>
        </div>
        <div class="restaurant__col panel">
          <h1 class="col__title">Details</h1>
          <div class="col__group">
            <h1 class="group__title">Cuisines</h1>
            <p>Asian, Vietnamese</p>
          </div>
          <div class="col__group">
            <h1 class="group__title">SPECIAL DIETS</h1>
            <p>Vegetarian Friendly, Vegan Options, Gluten Free Options</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
