<div class="restaurant property">
  <app-loading-spinner
    *ngIf="isFetching.restaurant"
    style="display: block; width: 100%; height: 40rem"
  ></app-loading-spinner>
  <div class="property__error" *ngIf="!restaurant && !isFetching.restaurant">
    <app-circle-exclamation-icon
      class="error__icon"
    ></app-circle-exclamation-icon>
    <h1>Oops! Something went wrong.</h1>
    <aside>Try refeshing the page or try again later.</aside>
    <button class="btn btn--primary" appRefresh>Refresh Page</button>
  </div>
  <app-detail-header
    [headerTitle]="restaurant.name"
    [address]="restaurant.address"
    *ngIf="restaurant"
    [averageRating]="averageRating"
    [reviewNumber]="reviewNumber"
    [item]="restaurant"
    category="restaurant"
  ></app-detail-header>
  <div class="property__body" *ngIf="restaurant">
    <div class="property__wrap">
      <div class="restaurant__galeries img-contain">
        <app-thumb-galeries
          [galeries]="restaurant.restaurantGalleries"
        ></app-thumb-galeries>
      </div>
      <div class="restaurant__infor">
        <div class="restaurant__col panel">
          <div class="col__title">Ratings and reviews</div>
          <div class="restaurant__rating">
            {{ averageRating }}
            <app-rating-decimar
              [rate]="averageRating"
              id="rating"
            ></app-rating-decimar>
            <span>{{ reviewNumber }} reviews</span>
          </div>
          <div class="col__title">Location</div>
          <a
            class="col__address"
            [href]="
              'https://www.google.com/maps/search/?api=1&query=' + addressEncode
            "
          >
            <app-location-dot-icon></app-location-dot-icon>
            {{ restaurant.address }}
          </a>
        </div>
        <div class="restaurant__col panel">
          <h1 class="col__title">Details</h1>
          <div class="col__group">
            <h1 class="group__title">Cuisines</h1>
            <p>{{ cuisinesString }}</p>
          </div>
          <div class="col__group">
            <h1 class="group__title">Meals</h1>
            <p>{{ mealsString }}</p>
          </div>
          <div class="col__group">
            <h1 class="group__title">Features</h1>
            <p>{{ featuresString }}</p>
          </div>
        </div>
      </div>
      <div class="restaurant__suggestions panel">
        <h1 class="panel__title">You may also like</h1>
        <hr />
        <div class="suggestion__list relative">
          <app-loading-spinner
            *ngIf="isFetching.restaurantSuggestion"
          ></app-loading-spinner>

          <div
            class="suggestion__item"
            *ngFor="let restaurantSuggestion of restaurantSuggestions"
          >
            <a
              [routerLink]="['/restaurant', restaurantSuggestion.id]"
              class="restaurant__suggestion"
            >
              <figure class="suggestion__thumb">
                <img
                  [defaultImage]="imageService.defaultImage"
                  [lazyLoad]="
                    imageService.render(restaurantSuggestion.thumbnail)
                  "
                  [alt]="restaurantSuggestion.name"
                />
              </figure>
              <div class="suggestion__infor">
                <h1 class="suggestion__title">
                  {{ restaurantSuggestion.name }}
                </h1>
                <app-rating-decimar
                  [rate]="restaurantSuggestion.averageRating"
                ></app-rating-decimar>
                <p>{{ restaurantSuggestion.totalRating }} reviews</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="property__wrap">
      <app-review
        [reviews]="restaurant.restaurantReviews"
        (reviewSuccess)="handleReviewChange()"
        [id]="restaurant.id"
        category="restaurant"
      ></app-review>
    </div>
  </div>
</div>
