<div class="relative">
  <div class="saved-item__heart" (click)="handleHeartClick()">
    <app-heart-solid-icon class="saved-item__icon"></app-heart-solid-icon>
  </div>
  <a [routerLink]="['/', category, item?.id]" class="saved-item">
    <figure class="saved-item__thumb">
      <img
        [lazyLoad]="imageService.render(item?.image || item?.thumbnail)"
        [defaultImage]="imageService.defaultImage"
        [alt]="item?.name"
      />
    </figure>
    <div class="saved-item__infor">
      <h3 class="saved-item__sub-title" *ngIf="item?.cuisine">
        {{ item.cuisines.join(", ") }}
      </h3>
      <a href="" class="saved-item__name">{{ item?.name }}</a>
      <div class="saved-item__rating">
        <app-rating-decimar [rate]="item?.averageRating"></app-rating-decimar>
        <div class="saved-item__review-count">
          {{ item?.totalRating | number }}
        </div>
      </div>
      <div class="saved-item__location">{{ item?.districtName }}</div>
    </div>
  </a>
</div>
