<a href="" class="saved-item">
  <figure class="saved-item__thumb">
    <img src="https://picsum.photos/500?random=1" alt="" />
    <div class="saved-item__heart saved-item__heart--active">
      <app-heart-icon class="saved-item__icon"></app-heart-icon>
      <app-heart-solid-icon
        class="saved-item__icon saved-item__icon--active"
      ></app-heart-solid-icon>
    </div>
  </figure>
  <div class="saved-item__infor">
    <a href="" class="saved-item__name">TTC hotel</a>
    <div class="saved-item__rating">
      <app-rating-decimar></app-rating-decimar>
      <div class="saved-item__review-count">420</div>
    </div>
    <div class="saved-item__location">Can Tho</div>
  </div>
</a>
