@import "settings/variables/color";
@import "settings/variables/breakpoint";
@import "settings/mixin";
.sidebar-nav {
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  &__list {
    display: flex;
  }
  &__object,
  &__item a {
    display: block;
    font-size: 1.4rem;
    padding: 0 1.2rem;
    line-height: 4.2rem;
    height: 4.2rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    text-decoration: none;
    color: $text-color;
  }
  &__item--active a {
    border-bottom: 2px solid $primary-color;
    font-weight: 700;
  }
}
@include maxWidth($screen-md) {
  .sidebar-nav {
    &__list {
      overflow-x: auto;
      overflow-y: hidden;
    }
    &__item {
      width: fit-content;
      flex-shrink: 0;
    }
  }
}
