<div class="filter-box panel">
  <app-restaurant-filter
    *ngIf="category === 'restaurant'"
    [filterObject]="filterObject"
    (filterEvent)="handleFilterEvent($event)"
  ></app-restaurant-filter>
  <app-hotel-filter
    *ngIf="category === 'hotel'"
    [filterObject]="filterObject"
    (filterEvent)="handleFilterEvent($event)"
  ></app-hotel-filter>
  <app-destination-filter
    *ngIf="category === 'destination'"
    [filterObject]="filterObject"
    (filterEvent)="handleFilterEvent($event)"
  ></app-destination-filter>
</div>
