<section class="destination">
  <app-loading-spinner
    *ngIf="isFetching.destination"
    style="display: block; width: 100%; height: 40rem"
  ></app-loading-spinner>
  <div class="property__error" *ngIf="!destination && !isFetching.destination">
    <app-circle-exclamation-icon
      class="error__icon"
    ></app-circle-exclamation-icon>
    <h1>Oops! Something went wrong.</h1>
    <aside>Try refeshing the page or try again later.</aside>
    <button class="btn btn--primary" appRefresh>Refresh Page</button>
  </div>
  <app-detail-header
    [headerTitle]="destination.name"
    *ngIf="destination"
    [averageRating]="averageRating"
    [reviewNumber]="reviewNumber"
    [item]="destination"
    category="destination"
    [isWriter]="isWriter"
  ></app-detail-header>
  <div class="property__body" *ngIf="destination">
    <div class="property__wrap">
      <div class="destination__top">
        <div
          class="panel destination__about"
          #about
          (click)="about.classList.toggle('destination__about--full')"
        >
          <h1 class="panel__title">About</h1>
          <p>
            {{ destination.description }}
          </p>
          <div class="about__more">
            <span class="more--full">Read more</span>
            <span class="more--less">Read less</span>

            <app-chevron-right-icon class="more__icon"></app-chevron-right-icon>
          </div>
        </div>
        <div class="destination__galeries panel panel--no-padding">
          <app-thumb-galeries
            [galeries]="destination.placeGalleries"
          ></app-thumb-galeries>
        </div>
      </div>
      <div class="destination__suggestions panel">
        <h1 class="panel__title">You may also like</h1>
        <hr />
        <div class="suggestion__list relative">
          <app-loading-spinner
            *ngIf="isFetching.destinationSuggestion"
          ></app-loading-spinner>

          <div
            class="suggestion__item"
            *ngFor="let destinationSuggestion of destinationSuggestions"
          >
            <a
              [routerLink]="['/destination', destinationSuggestion.id]"
              class="destination__suggestion"
            >
              <figure class="suggestion__thumb">
                <img
                  [defaultImage]="imageService.defaultImage"
                  [lazyLoad]="imageService.render(destinationSuggestion.image)"
                  [alt]="destinationSuggestion.name"
                />
              </figure>
              <div class="suggestion__infor">
                <h1 class="suggestion__title">
                  {{ destinationSuggestion.name }}
                </h1>
                <app-rating-decimar
                  [rate]="destinationSuggestion.averageRating"
                ></app-rating-decimar>
                <p>{{ destinationSuggestion.totalRating }} reviews</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="property__wrap">
      <app-review
        [rounded]="true"
        [reviews]="destination.placeReviews"
        (reviewSuccess)="handleReviewChange()"
        [id]="destination.id"
        category="destination"
        [isWriter]="isWriter"
      ></app-review>
    </div>
  </div>
</section>
