<div class="modal">
  <div class="modal__overlay" (click)="handleClose()"></div>
  <app-x-icon class="modal__close" (click)="handleClose()"></app-x-icon>
  <div class="modal__wrap search__wrap">
    <form class="search-form" (ngSubmit)="onSubmit()" NgForm>
      <div class="form-group">
        <app-search-icon
          class="icon"
          [ngClass]="{ 'icon--disabled': !searchKey || searchKey === '' }"
          (click)="onSubmit()"
        ></app-search-icon>
        <div class="form-control">
          <input
            type="text"
            [placeholder]="placeholder"
            name="place"
            [(ngModel)]="searchKey"
            autocomplete="off"
            #input
            (ngModelChange)="handleKeyPress()"
          />
        </div>
      </div>
    </form>
    <div
      class="search-suggestion"
      *ngIf="searchType === 'all' && searchKey && searchKey !== ''"
    >
      <ul class="suggestion-list">
        <li>
          <a
            routerLink="/hotel"
            [queryParams]="{ keyword: searchKey }"
            class="suggestion-item"
            (click)="handleClose()"
          >
            <div class="suggestion__icon">
              <app-bed-icon></app-bed-icon>
            </div>
            <div class="suggestion__text">
              <h1>
                <strong>{{ searchKey }}</strong> hotels?
              </h1>
            </div>
          </a>
        </li>
        <li>
          <a
            routerLink="/restaurant"
            [queryParams]="{ keyword: searchKey }"
            class="suggestion-item"
            (click)="handleClose()"
          >
            <div class="suggestion__icon">
              <app-utensil-icon></app-utensil-icon>
            </div>
            <div class="suggestion__text">
              <h1>
                <strong>{{ searchKey }}</strong> restaurants?
              </h1>
            </div>
          </a>
        </li>
        <li>
          <a
            routerLink="/destination"
            [queryParams]="{ keyword: searchKey }"
            class="suggestion-item"
            (click)="handleClose()"
          >
            <div class="suggestion__icon">
              <app-map-location-dot-icon></app-map-location-dot-icon>
            </div>
            <div class="suggestion__text">
              <h1>
                <strong>{{ searchKey }}</strong> where to go?
              </h1>
            </div>
          </a>
        </li>
        <li>
          <a
            routerLink="travel-articles"
            [queryParams]="{ keyword: searchKey }"
            class="suggestion-item"
            (click)="handleClose()"
          >
            <div class="suggestion__icon">
              <app-newspaper-icon></app-newspaper-icon>
            </div>
            <div class="suggestion__text">
              <h1>
                <strong>{{ searchKey }}</strong> in travel article?
              </h1>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div
      class="search-suggestion relative"
      *ngIf="searchType !== 'all' && searchKey && searchKey !== ''"
      style="min-height: '10rem'"
    >
      <app-loading-spinner *ngIf="isSearching"></app-loading-spinner>
      <ul class="suggestion-list">
        <li *ngFor="let suggest of searchSuggestions">
          <a [routerLink]="[searchType, suggest.id]" class="suggestion-item">
            <figure class="suggestion__thumb">
              <img
                [src]="imageService.render(suggest.image || suggest.thumbnail)"
                [alt]="suggest.name"
              />
            </figure>
            <div class="suggestion__text">
              <h1>
                <strong>{{ suggest.name }}</strong> , {{ suggest.districtName }}
              </h1>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
