@import "settings/variables/color";
@import "settings/variables/breakpoint";
@import "settings/mixin";

.section-table {
  display: block;
  overflow-x: auto;
}
.table {
  margin-bottom: 2rem;
  width: 100%;
  min-width: 50rem;
  td {
    vertical-align: top;
  }

  td div {
    white-space: break-spaces !important;
  }
  td div,
  th {
    width: fit-content;
    white-space: nowrap;
    vertical-align: top;
  }
  thead {
    font-size: 1.6rem;
    font-weight: 500;
    color: $text-color;
    line-height: 1.8rem;
    border-bottom: 1px solid $secondary-color;
  }
  thead th:last-child {
    width: 8rem;
  }

  tbody {
    font-size: 1.2rem;
    font-weight: 400;
    color: $text-color-secondary;
    line-height: 1.6rem;
  }
  tbody tr {
    border-bottom: 1px solid #e0e0e0;
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: #e9f8f2;
      border-color: #e9f8f2;
    }
  }
  tbody td ::ng-deep img {
    width: 8rem;
    object-fit: cover;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    min-width: 7rem;
  }
  .action__icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: $text-color-secondary;
    opacity: 0.6;
    transition: all 100ms linear;
    &:hover {
      color: $secondary-color;
      opacity: 1;
      transform: scale(1.1);
    }
  }
}
@include maxWidth($screen-md) {
  .table {
    td,
    th {
      // min-width: 10rem;
    }
    td {
      padding: 1.2rem;
    }
  }
}
