<section class="section-table">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let th of ths">{{ th }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data">
        <td *ngFor="let dataValue of getValues(data)">
          <div [innerHTML]="dataValue"></div>
        </td>
        <td class="action">
          <app-edit-icon class="action__icon"></app-edit-icon>
          <app-trash-icon class="action__icon"></app-trash-icon>
        </td>
      </tr>
    </tbody>
  </table>
</section>
