<section class="section-article">
  <h1 class="section__title">New travel articles</h1>
  <swiper [slidesPerView]="1" [pagination]="{ clickable: true }">
    <ng-template swiperSlide>
      <div class="article">
        <figure class="article__image">
          <img
            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/ae/d7/19/caption.jpg?w=1200&h=1600&s=1"
            alt=""
          />
        </figure>
        <div class="article__content">
          <h1 class="article__title">Celebrate Latinx Heritage Month</h1>
          <h2 class="article__sub-title">
            Travel ideas, tips, and stories from our community
          </h2>
          <a href="" class="btn btn--primary">See more</a>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="article">
        <figure class="article__image">
          <img
            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/ae/d7/19/caption.jpg?w=1200&h=1600&s=1"
            alt=""
          />
        </figure>
        <div class="article__content">
          <h1 class="article__title">Celebrate Latinx Heritage Month</h1>
          <h2 class="article__sub-title">
            Travel ideas, tips, and stories from our community
          </h2>
          <a href="" class="btn btn--primary">See more</a>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="article">
        <figure class="article__image">
          <img
            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/ae/d7/19/caption.jpg?w=1200&h=1600&s=1"
            alt=""
          />
        </figure>
        <div class="article__content">
          <h1 class="article__title">Celebrate Latinx Heritage Month</h1>
          <h2 class="article__sub-title">
            Travel ideas, tips, and stories from our community
          </h2>
          <a href="" class="btn btn--primary">See more</a>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>
