<section id="navigate">
  <div class="nav-card__list">
    <div class="nav-card__item" (click)="handleNavClick('place')">
      <h1 class="nav-card__title">Destinations</h1>

      <app-map-location-dot-icon
        class="nav-card__icon"
      ></app-map-location-dot-icon>
    </div>
    <div class="nav-card__item" (click)="handleNavClick('hotel')">
      <h1 class="nav-card__title">Hotels</h1>

      <app-bed-icon class="nav-card__icon"></app-bed-icon>
    </div>
    <div class="nav-card__item" (click)="handleNavClick('restaurant')">
      <h1 class="nav-card__title">Restaurants</h1>

      <app-utensil-icon class="nav-card__icon"></app-utensil-icon>
    </div>
    <div class="nav-card__item" (click)="handleNavClick('article')">
      <h1 class="nav-card__title">Travel Articles</h1>

      <app-newspaper-icon class="nav-card__icon"></app-newspaper-icon>
    </div>
  </div>
  <app-search-modal
    [searchType]="searchModalConfig.type"
    *ngIf="searchModalConfig.show"
    (closeEmit)="searchModalConfig.show = false"
  ></app-search-modal>
</section>
