<section id="navigate">
  <div class="nav-card__list">
    <div class="nav-card__item">
      <h1 class="nav-card__title">Destinations</h1>
      <div class="nav-card__icon">
        <app-map-location-dot-icon></app-map-location-dot-icon>
      </div>
    </div>
    <div class="nav-card__item">
      <h1 class="nav-card__title">Hotels</h1>
      <div class="nav-card__icon">
        <app-bed-icon></app-bed-icon>
      </div>
    </div>
    <div class="nav-card__item">
      <h1 class="nav-card__title">Restaurants</h1>
      <div class="nav-card__icon">
        <app-utensil-icon></app-utensil-icon>
      </div>
    </div>
  </div>
</section>

<app-search-modal searchType="place"></app-search-modal>
