@import "settings/variables/color";
@import "settings/variables/breakpoint";
@import "settings/mixin";
.filter-mobile__btn {
  display: none;
}
.property {
  &-count {
    padding-top: 0.8rem;
    font-size: 1.6rem;
    color: $primary-color;
    margin-bottom: 2rem;
    span {
      font-weight: 700;
    }
  }
  .clear-filters {
    cursor: pointer;
  }
  .filter-selected {
    display: flex;
    margin-bottom: 1.6rem;
    overflow-x: auto;
    .filter {
      flex-shrink: 0;
      margin-right: 0.8rem;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.4rem;
      padding: 0.6rem 0.8rem;
      border: 1px solid #e0e0e0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .filter__icon {
      margin-left: 0.4rem;
      width: 0.9rem;
      height: 0.9rem;
      display: block;
      ::ng-deep svg {
        width: 0.9rem;
        height: 0.9rem;
        display: block;
        fill: #757575;
      }
    }
  }
  &__list {
    margin-top: 0.8rem;
  }
  &__item + &__item {
    margin-top: 0.8rem;
    display: block;
  }
  &__pagination {
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 1.6rem 2.4rem;
    margin-top: 0.8rem;
  }
}
.filter__modal {
  .filter__overlay {
    display: none;
  }
  &-header {
    display: none;
  }
}
@include maxWidth($screen-lg) {
  .filter__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms linear;

    .filter__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0.8;
      display: block;
    }
    &-box {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 75%;
      max-width: 35rem;
      padding: 1.6rem 1.4rem;
      padding-top: 4rem;
      background-color: white;
      box-shadow: 0 3px 12px 0 rgb(0 0 0 / 25%);

      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transform: translateX(100%);
      transition: transform 150ms ease-in-out;
    }
    &-header {
      display: block;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.8rem;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 35rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-bottom: 1px solid #e0e0e0;
      padding: 1.4rem 1.6rem;
    }
    ::ng-deep .filter-box {
      border: none;
      padding-left: 0;
      padding-right: 0;
      overflow-y: auto;
      height: 100%;
    }
    &-title {
      font-size: 1.6rem;
    }
    &-icon {
      width: 1.3rem;
      height: 1.3rem;
      display: block;
      ::ng-deep svg {
        width: 1.3rem;
        height: 1.3rem;
        display: block;
      }
    }
  }

  .filter-box.active {
    .filter__modal {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    .filter__overlay {
      display: block;
    }
    .filter__modal-box {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0);
    }
  }
  .filter-mobile__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    cursor: pointer;
    padding: 0.8rem;
    background-color: white;
    border: 1px solid #e0e0e0;
  }
  .filter-mobile__icon {
    margin-right: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    ::ng-deep svg {
      width: 1.4rem;
      height: 1.4rem;
      display: block;
    }
  }
}
