<section class="profile traveler-profile">
  <app-fetch-fail *ngIf="!traveler"></app-fetch-fail>
  <div class="profile__wrap" *ngIf="traveler">
    <div class="profile__top panel">
      <div class="profile__head">
        <figure class="profile__avatar">
          <img
            [src]="imageService.render(traveler.avatar)"
            [alt]="'Avatar of ' + traveler.name"
          />
        </figure>
        <div class="profile__infor">
          <h2 class="infor__role">Traveler</h2>
          <h1 class="infor__name">{{ traveler.name }}</h1>
          <p class="infor__email">@{{ traveler.username }}</p>
        </div>
      </div>
      <div class="profile__tabs">
        <a
          routerLink="edit"
          routerLinkActive="profile__tab--active"
          class="profile__tab"
          >Edit</a
        >
        <a
          routerLink="bookings"
          routerLinkActive="profile__tab--active"
          class="profile__tab"
          >Bookings</a
        >
        <a
          routerLink="change-password"
          routerLinkActive="profile__tab--active"
          class="profile__tab"
          >Change password</a
        >
      </div>
    </div>
    <div class="panel relative">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
