.filter-box {
  &__list:not(:last-of-type) ::ng-deep .filter-partial {
    border-bottom: 1px solid #e0e0e0;
  }
  &__list:first-child ::ng-deep .filter-partial {
    padding-top: 0;
  }
  &__list:last-child ::ng-deep .filter-partial {
    padding-bottom: 0;
  }
}
