<section
  #scrollTarget
  id="reviews"
  class="section-review"
  [ngClass]="{ 'section-review--rounded': !!rounded }"
>
  <div class="panel">
    <h1 class="panel__title">
      Reviews <span>({{ reviews.length }})</span>
    </h1>
    <hr />
    <div class="review__content relative">
      <app-loading-spinner *ngIf="isFetching"></app-loading-spinner>
      <form
        class="review__form"
        [formGroup]="reviewForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form__field">
          <label
            [ngClass]="{
              form__hint: isSubmitted && !reviewForm.get('rating')?.valid
            }"
            >How would you rate your experience?</label
          >
          <app-rating-decimar
            [readOnly]="false"
            [rate]="reviewForm.get('rating')?.value"
            class="form__rating"
            (rateChange)="reviewForm.get('rating')?.setValue($event)"
          ></app-rating-decimar>
          <input type="text" formControlName="rating" style="display: none" />
        </div>
        <div class="form__field">
          <label
            for="comment"
            [ngClass]="{
              form__hint: isSubmitted && !reviewForm.get('comment')?.valid
            }"
            >Write your review</label
          >
          <textarea
            id="comment"
            rows="5"
            placeholder="Tell people about your experience: your meal, atmosphere, service?"
            class="form__text"
            formControlName="comment"
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn--primary form__submit"
          [disabled]="isSubmitted && !reviewForm.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <ul class="review__list">
    <li
      class="review__item panel"
      *ngFor="
        let review of reviews
          | paginate: { itemsPerPage: 10, currentPage: page }
      "
    >
      <div class="item__reviewer">
        <figure class="reviewer__avatar">
          <img
            [src]="imageService.render(review.avatar)"
            [alt]="'Avatar of ' + review.name"
          />
        </figure>
        <h1 class="reviewer__name">{{ review.name }}</h1>
      </div>
      <div class="item__rating">
        <app-rating-decimar [rate]="review.rating"></app-rating-decimar>
      </div>
      <div class="item__content">
        {{ review.comment }}
      </div>
      <!-- <div class="item__review-time">Written October 8, 2022</div> -->
    </li>

    <div class="panel" *ngIf="reviews.length">
      <pagination-controls
        (pageChange)="page = $event"
        [maxSize]="6"
        class="global-pagination"
        [responsive]="false"
      ></pagination-controls>
    </div>
  </ul>
</section>
