<section class="section-article-new">
  <form
    (ngSubmit)="handleSubmit()"
    [formGroup]="articleForm"
    class="article__form"
  >
    <div class="article__group article__container">
      <input
        type="text"
        id="title"
        class="article__control article__control--title"
        placeholder="Title"
        formControlName="title"
      />
    </div>
    <div class="article__group article__container">
      <textarea
        cols="0"
        rows="0"
        placeholder="Short description"
        formControlName="shortDesc"
        class="article__control article__control--short"
      ></textarea>
    </div>
    <div class="article__group image-container">
      <img [src]="thumbnailPreview" class="image-preview" />
      <label for="thumb" class="image-icon">
        <app-image-icon></app-image-icon
      ></label>
      <input
        type="file"
        id="thumb"
        style="display: none"
        (change)="handleChangeImage($event)"
      />
    </div>
    <div class="article__group article__container">
      <div
        [ngxSummernote]="summernoteConfig"
        formControlName="content"
        class="article__content"
        (blur)="test($event)"
      ></div>
    </div>
    <div class="article__bottom article__container">
      <button class="btn btn--secondary">Reset</button>
      <button
        type="submit"
        class="btn btn--primary"
        [disabled]="!articleForm.valid"
      >
        Publish
      </button>
    </div>
  </form>
</section>
