<div class="breadcrumb container">
  <ul class="breadcrumb__list">
    <li class="breadcrumb__level">
      <a [routerLink]="rootLevel?.link">{{ rootLevel.root }}</a>

      <app-chevron-right-icon class="breadcrumb__icon"></app-chevron-right-icon>
    </li>
    <li
      class="breadcrumb__level"
      *ngFor="let child of childLevels; let i = index"
    >
      <a [routerLink]="child?.link">{{ child.level | shorten: 20 }}</a>
      <app-chevron-right-icon
        class="breadcrumb__icon"
        [style]="{ display: i === childLevels.length - 1 ? 'none' : 'block' }"
      ></app-chevron-right-icon>
    </li>
  </ul>
</div>
